@charset "UTF-8";

body {
	font-family: sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}



/* header */
#header {
  border-bottom: 1px black solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

#header ul {
  display: flex;
  padding: 0px;
}

#header ul li {
  padding: 0 15px;
}

#hamburger {
  display: none;
}



/* main */
#main{
  text-align: center;
}

#top {
  padding: 15% 0;
  border-bottom: 1px black solid;
}

.main-content {
  padding-top: 7%;
}

.main-content h2 {
  text-decoration: underline;
}

.text-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.text-box li {
  width: 300px;
  height: 70px;
  border: 1px gray solid;
  border-radius: 10px;
  margin: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130%;
  color: white;
  background-color: gray;
}

#before, #now, #future, #information-skill, #other-skill {
  margin: 5% 0;
}

#graph img {
  max-width: 100%;
}

#other ul {
  padding: 0;
}

#other section {
  padding: 20px;
}



/* footer */
#footer {
  margin-top: 10%;
  border-top: 1px black solid;
  text-align: center;
}



/* smartphone */
@media screen and ( max-width:680px ) {
  button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: transparent;
		border: 0;
		border-radius: 0;
		color: inherit;
		cursor: pointer;
		font: inherit;
		margin: 0;
		outline: none;
		padding: 0;
		vertical-align: middle;
	}

  #hamburger {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    position: relative;
  }

  .line {
    display: block;
    width: 25px;
    height: 1px;
    background-color: black;
    left: 25%;
    position: absolute;
    transition: 0.3s;
  }

  #line-top {
    top: 20px;
  }

  #line-bottom {
    bottom: 20px;
  }

  .line.open#line-top {
    transform: translateY(5px) rotate(45deg);
  }

  .line.open#line-bottom {
    transform: translateY(-5px) rotate(-45deg);
  }

  #nav-menu {
    position: fixed;
    right: -100%;
    top: 100px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    text-align: center;
    transition: 0.3s;
  }

  #nav-menu li {
    width: 100%;
    height: 100%;
  }

  #nav-menu.open {
    right: 0;
  }

  #main {
    opacity: 1;
    transition: 0.3s;
  }

  #main.open {
    opacity: 0.1;
    transition: 0.3s;
  }
}